<template lang="html">
  <section>
    <PostForm />
    <postlist />
  </section>
</template>

<script>
import postlist from '../components/post-list.vue';
import PostForm from '../components/PostForm.vue';
import {mapState, mapMutations, mapActions} from 'vuex';

export default {
  components:{
    postlist,
    PostForm,
  },
  mounted(){
    this.LOAD_POST_LIST();
  },
  methods: mapActions(['LOAD_POST_LIST']),
}
</script>

<style lang="css">
</style>
