<template lang="html">
  <section>
    <h3>Añadir un POST</h3>
    <form @submit.prevent="add()">
      <v-text-field
      name="titulo"
      label="Titulo"
      id="titulo"
      v-model="titulo"
      required
      ></v-text-field>
      <v-text-field
      name="contenido"
      label="Contenido"
      textarea
      v-model="contenido"
      required
      ></v-text-field>
      <div class="text-xs-center">
        <v-btn round primary dark type="submit">Añadir</v-btn>
      </div>
    </form>
  </section>
</template>

<script>
import {mapActions , mapMutations} from 'vuex';
export default {
  data(){
    return {
      titulo:'',
      contenido:'',
    }
  },
  //methods: mapActions(['ADD_POST']),
  methods:{
    add(){
      this.$store.dispatch('ADD_POST',{titulo:this.titulo,contenido:this.contenido});
      this.titulo='';
      this.contenido='';
    }
  }
}
</script>

<style lang="css">
</style>
