<template lang="html">
  <section>
    <v-data-table
    v-bind:headers="headers"
    :items="post.posts"
    hide-actions
    class="elevation-1"
    v-bind:pagination.sync="pagination"
    >
    <template slot="items" scope="props">
      <td>{{ props.item.titulo }}</td>
      <td class="text-xs-right">
        {{ props.item.contenido }}
        <v-btn fab dark small class="pink" @click="remove(props.item)">
          <v-icon dark>remove</v-icon>
        </v-btn>
      </td>
    </template>
  </v-data-table>
  <div class="text-xs-center pt-2">
    <v-pagination v-model="pagination.page" :length="Math.ceil(post.posts.length / pagination.rowsPerPage)"></v-pagination>
  </div>
</section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data(){
    return{
      pagination: {},
      headers:[
        { text: 'Titulo', value: 'titulo', align: 'left' },
        { text: 'Contenido', value: 'contenido' },
      ]
    }
  },
  computed: mapState(['post']),
  methods:{
    remove(item){
      this.$store.dispatch('DELETE_POST',item);
    }
  }
}
</script>

<style lang="css">
</style>
